* {
  margin: 0;

  font-family: sans-serif;
}
.dark {
  background-color: #4a3939;
}

header {
  margin-bottom: 100px;

  background-color: #3d4a59;
  color: white;
  border-radius: 0 0 70px 70px;
}
.dark header,
.dark header h1 {
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  border-bottom: 1px solid #faebd7;
  color: #faebd7;
}
header h1 {
  margin-bottom: 0.3rem;
}

.parent {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.dark .parent li a {
  color: #faebd7;
}

.parent li a {
  color: #fff;
  text-decoration: none;

  margin-top: 6px;
  display: inline-block;
}

.parent li a:hover {
  border-bottom: 2px solid red;
  font-size: 20px;
}

.mode {
  border: 2px solid white;
  border-radius: 10px;
  padding: 0px 10px;
}

li {
  list-style-type: none;
  font-size: 18px;
}

h1 {
  text-align: center;
  padding: 10px 0;

  width: 40%;
  margin-left: auto;
  margin-right: auto;

  background-color: #3d4a59;
  color: #fff;
  border-radius: 17px;

  padding: 15px;
}
.dark h1 {
  background-color: #121212;
  color: #faebd7;
}

section {
  margin-bottom: 100px;
  box-shadow: 5px 5px 25px rgb(179, 172, 172);

  width: 97%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;

  padding: 45px 0;
}
.dark section {
  box-shadow: 0 7px 93px 0 rgb(255 131 131 / 47%);
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
}
.sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.left-section,
.right-section {
  width: 49%;

  text-align: center;
  margin-top: 60px;
}

.left-section h3 {
  font-size: 26px;
  margin: 20px 0;
}

.left-section p {
  font-size: 20px;
  margin: 25px 0;
}
.dark .left-section p,
.dark h3 {
  color: white;
}
.mycard {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 2em;
}
.facebook,
.youtube {
  background-color: royalblue;
  color: #fff;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 6px;

  text-decoration: none;
}

.youtube {
  background-color: rgb(255, 62, 62);
}

.my-img {
  border-radius: 50%;
  width: 150px;

  border-right: 2px solid #ff8a00;
  border-left: 2px solid #ff8a00;
  border-bottom: 2px solid #e52e71;
  border-top: 2px solid #e52e71;
}

article h5 {
  font-size: 39px;
  font-weight: 500;
  font-family: "Sacramento", cursive;
  margin-top: 10px;
}
.dark article h5,
.dark .para {
  color: #faebd7;
}
.para {
  font-size: 20px;
}

.flex {
  display: flex;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}
.dark footer {
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
}

.design {
  background-color: #3d4a59;
  color: #fff;
  padding: 15px;
  text-align: center;

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-bottom: 0rem;
}
.dark .design {
  box-shadow: 0 7px 93px 0 rgb(255 131 131 / 47%);
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  color: #faebd7;
}
.follow {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 16px 0;
  text-align: center;
  margin: 0 auto 10px;
  border-top: 6px solid #3d4a59;

  opacity: 0.9;
  width: 99%;
}
.dark .follow {
  box-shadow: 0 7px 93px 0 rgb(255 131 131 / 47%);
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  color: #faebd7;
}

.follow a {
  border: 1px solid #3d4a59;
  border-radius: 4px;
  padding: 4px 10px;
  text-decoration: none;
}
.dark .follow a {
  color: #faebd7;
}

.follow a:hover {
  padding: 5px 12px;
  background-color: rgb(16, 73, 243);
  color: #fff;
}
.title {
  background-color: red;
}
.title::after {
  content: "";
}
.bigcontainer {
  background-color: gray;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.container {
  border: 2px solid;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  margin-top: 50px;
}
.active {
  display: block;
}
dialog {
  background-color: #3d4a59;
  opacity: 0.9;
  border: 5px solid #fff;
  border-radius: 25px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
dialog p {
  font-size: 22px;
  color: #fff;
}
dialog input {
  margin-bottom: 1em;
  font-size: 22px;
}
dialog button {
  background-color: #e5e5e5;
  color: #787e0e;
  border: none;
  border-radius: 15px;
  width: 10vw;
  height: 5vw;
  font-size: larger;
}
